<div id="admin-nav">
    <a href="/admin/index">Admin nav</a>

    <div class="admin-nyhed">
        <a href="/admin/nyhed/opret">Opret nyhed</a>
        <a href="/admin/nyhed/rediger/liste">Rediger nyhed</a>
        <a href="/admin/nyhed/slet">Slet nyhed</a>
    </div>

    <div class="admin-moebel">
        <a href="/admin/moebel/opret">Opret møbel</a>
        <a href="/admin/moebel/opret/billede">Opret møbel billede</a>
        <a href="/admin/moebel/rediger/liste">Rediger møbel</a>
        <a href="/admin/moebel/slet">Slet møbel</a>
    </div>
</div>