<div class="logo-banner"></div>
<header>
    <nav>
        <a href="/">Forside</a>
        <a href="#">Nyheds arkiv</a>
        <a href="#">Møbler</a>
        <a href="#">Kontakt</a>
    </nav>
</header>