<div class="logo-banner"></div>
<header>
    <nav>
        <a href="/">Forside</a>
        <a href="/nyheds/arkiv">Nyheds arkiv</a>
        <a href="/moebel/soegning">Møbler</a>
        <a href="/kontakt">Kontakt</a>
    </nav>
</header>