<div id="wrap">
<div id="wrapper">
        <section>
            <h2>Forsiden</h2>
            <div class="forside-sofa">
                <img src="" alt="">
    
                <h3>Møbel serie:</h3>
                <!-- seire??? -->
    
                <h3>Designer:</h3>
                <!-- designer??? -->
    
                <h3>Design år:</h3>
                <!-- design år??? -->
    
                <h3>Pris:</h3>
                <!-- pris??? -->
    
                <a href="#">mere info</a>
            </div>
            
    
    
            <h2>Tilmeld nyhedsbrev</h2>
            <div class="nyhedsbrev">
                <form action="">

                <input type="text" name="email" id="email" placeholder="E-mail">
                <div>
                    
                    <input type="submit" name="tilmeld" value="Tilmeld">
                </div>
                <div>
                    
                    <input type="submit" name="frameld" value="Frameld">
                </div>

            </form>
            </div>
    
    
            <h2>kontakt oplysninger</h2>
            <div class="kontakt-oplysninger">
                <p>CMK møbler</p>
                <p>Esplanaden 52</p>
                <p>2100 København K</p>
                <br>
                <h3>Telefon</h3>
                <p>3363 3363</p>
                <h3>Telefax</h3>
                <p>3363 4108</p>
    
            </div>
        </section>
    </div>
    