body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
h2 {
    font-size: 1.6em;
}
p {
    font-size: 1.2em;
}
/*============admin====================*/
#admin-nav {
    display: flex;
    justify-content: center;
}
#admin-nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #ff4a00;
    font-size: 1.5em;
}
#admin-nav a:hover {
    color: #717171;
}
.admin-moebel a, .admin-nyhed a {
    display: block;
}
.admin-rediger-tbody tr {
    border: 1px solid #717171;
}
.admin-rediger a {
    color: #ff4a00;
    text-decoration: none;
    font-weight: 700;
}
.admin-rediger a:hover {
    color: #717171;
}
#btn-slet {
    border: none;
    font-size: 1.4em;
    background-color: white;
}
.admin-rediger input[target=_btn-slet]:hover {
    color: #717171;
}
.admin-rediger input[target=_btn-slet] {
    color: #ff4a00;
}
.rediger-border {
    border: 2px solid #717171;
}


.vælg th, a, td {
    font-size: 1.5em;
    margin: 4px;
}
/*============Header====================*/
.logo-banner {
    background-color: #717171;
    width: 100%;
    height: 4em;
    border-bottom: 2px solid #ff4a00;
}
header nav {
    margin-bottom: 5em;
}
header nav a {
    margin: 0;
    padding: 0 10px;
    border-left: 2px solid #ff4a00;
    font-size: 1.5em;
    text-decoration: none;
    color: #ff4a00;
}
/*============Wrapper====================*/
#wrap {
    width: 100%;
}
#wrapper, #wrapper2 {
    position: absolute;
}
#wrapper {
    left: 0;
    width: 30%;
}
#wrapper2 {
    right: 0;
    width: 70%;
    margin-bottom: 2em;
    margin-left: 5%;
}
.style-box {  /* denne styler alle siderne med dotted line */
    width: 60%;
    border-top: 2px dotted #ff4a00;
    margin-top: 3.8em;
}


section h2 {
    color: #ff4a00;
    margin: 1em 1em 0 1em;
}
.forside-margin h2 {
    margin-bottom: 1em;
}
.forside-sofa {
    border-top: 2px dotted #ff4a00;
    width: 18em;
    margin: 0 1em;
}
.forside-sofa a {
    color: #ff4a00;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}
.nyhedsbrev {
    border-top: 2px dotted #ff4a00;
    display: block;
    width: 20em;
    margin: 0 1em;
}
.nyhedsbrev input{
    margin: 10px;
}
.nyhedsbrev input {
    background-color: white;
    border: 2px solid lightgrey;
}
#email {
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.kontakt-oplysninger {
    border-top: 2px dotted #ff4a00;
    width: 20em;
    margin: 0 1em 1em 1em;
} .kontakt-oplysninger h3, p {
    margin: 0;
}
/*============Forside nyheder====================*/
.forside-nyheder article h2 {
    margin: 1em 0;
}
/*============soeg====================*/

#soeg {
    right: 0;
    width: 70%;
    position: absolute;
}
.soeg-form {
    width: 50%;
    display: block;
}
.soeg-form input {
    margin: 1em;
}
.soeg-form label {
    margin-right: 1em;
}
.chekbox-serie label {
    margin: 0;
}
/*============beskrivelse====================*/
.beskrivelse {
    display: flex;
}
.beskrivelse img {
    height: 225px;
    min-width: 300px;
}
.beskrivelse p {
    margin-left: 1em;
}
.varianter {
    display: flex;
}
.varianter h2 {
    margin-top: 0;
}
.varianter img {
    height: 140px;
    width: 140px;
    margin: 0 5px;
}
.varianter p {
    margin: 4px;
}
/*============møbel liste====================*/
.style-box-liste {
    width: 60%;
    margin-top: 3.3em;
}
.liste {
    display: flex;
    border-top: 2px dotted #ff4a00;
    margin-top: 1em;
}
.beskrivelse-a {
    text-decoration: none;
}
.liste img {
    min-width: 120px;
    height: 90px;
    margin: 2em 1em 0 1em;
}
.liste p {
    font-size: .9em;
}
.liste:hover {
    border: 2px solid #717171;
}
/*============nyheds arkiv====================*/
.nyheds-arkiv-margin {
    margin-bottom: 2em;
}
.nyheds-arkiv {
    display: flex;
    border-top: 2px dotted #ff4a00;
}
.nyheds-arkiv h2 {
    margin-left: 0;
    font-size: 1.5em;
}
.nyheds-arkiv h3 {
    margin-top: 2em;
    margin-left: 1em;
}
/*==================Kontakt======================*/
.center-form {
    display: flex;
    justify-content: left;
}
.center-form input {
    margin: 1em 2em;
    
}

@media only screen and (max-width: 1180px) {
    .kontakt-oplysninger, .nyhedsbrev {
        width: 15em;
    }

}
@media only screen and (max-width: 1050px) {
    #wrapper, #wrapper2 {
        position: relative;
    }
    #wrapper2 {
        width: 100%;
    }
    .kontakt-oplysninger, .nyhedsbrev {
        width: 15em;
    }
  }
