<% include partials/head %> 
<% include partials/header %> 
<% include partials/admin %>
<div class="vælg">
<table>
        <thead>
            <tr>
                <th>Handling</th>
                <th>Navn</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(result => { %>
                <tr>
                    <td class="admin-rediger">
                           
                                
                            <a href="/admin/moebel/slet/<%= result.id %>">slet</a>
                            <a href="/admin/moebel/rediger/<%= result.id %>">Rediger</a>
                            <a href="/admin/moebel/rediger/billede/<%= result.id %>">Opret/rediger billede</a></td>
                    <td><%= result.navn %></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>
<% include partials/footer %> 
<% include partials/after-footer %>


