<% include partials/head %> 
<% include partials/header %> 
<% include partials/admin %>
<div class="vælg">
<table>
        <thead>
            <tr>
                <th>Handling</th>
                <th>Navn</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(result => { %>
                <tr>
                    <td>
                        <!-- <form action="/admin/admin/slet/<%= result.id %>" method="post">
                            <label for="btn"></label>
                        <input type="submit" id="btn"> -->
                        </form>
                        <a href="/admin/nyhed/slet/<%= result.id %>">Slet</a>
                        <a href="/admin/nyhed/rediger/<%= result.id %>">Rediger</a></td>

                    <td><%= result.overskrift %></td>
                </tr>
           <% }); %>
        </tbody>
    </table>
</div>
<% include partials/footer %> 
<% include partials/after-footer %>


