<% include partials/head %> 
<% include partials/header %>
<% include partials/wrapper %>


<div id="wrapper2">
    <section class="style-box">
            <% results.forEach( result => { %>
        <article class="forside-margin">
            <h2><%= result.overskrift %></h2>
            
            <p><%= result.tekst %></p>
            
        </article>
        <% }); %>
    </section>
</div>
</div>
<% include partials/footer %> 
<% include partials/after-footer %>