<% include partials/head %> 
<% include partials/header %>
<% include partials/wrapper %>
<div id="wrapper2">
    <section class="style-box">
        <div class="beskrivelse">
        <h2>Less</h2>
        <img src="/img/sofa.jpg" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ipsa sit autem similique, dicta atque velit illum, accusamus voluptate, repellat natus architecto quaerat aperiam animi ut possimus. Commodi, quam alias!Quisquam ipsa sit autem similique, dicta atque velit illum, accusamus voluptate, repellat natus architecto quaerat aperiam animi ut possimus. Commodi, quam alias!</p>
    </div>

        <div class="varianter">
            <h2>Andre varianter</h2>
            <img src="/img/sofa.jpg" alt="">
            <img src="/img/sofa.jpg" alt="">
            <img src="/img/sofa.jpg" alt="">
        </div>

    </section>
</div>
<% include partials/footer %> 
<% include partials/after-footer %>